*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F9F9F9;
}

/* common styles */
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.hidden{
  display: none;
}
.active{
  border-bottom: 2px solid rgb(99, 0, 0, 1);
}
.btn{
  background-color:#EB1D36;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  color:#CFD2CF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.selected{
  color: rgb(99, 0, 0, 1);
}

/* Navbar Styling Start */
.navbar{
  padding: 1rem 3rem;
  background-color: #F5EDDC;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
  color:#EB1D36;
}

.finder{
  color:rgb(99, 0, 0, 1)!important;
}

.nav-items{
  flex-basis: 35%;
  justify-content: space-between;
}
.nav-item{
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color:rgb(99, 0, 0, 1);
  cursor: pointer;

}
.profile{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  cursor: pointer;
}

.profile img{
  border-radius: 50px;
}
/* Navbar Styling End */

/* Users Section Start */
.users{
  padding: 2rem 5rem;
}
.favorites-section{
  padding: 2rem 5rem;
}

.home-title{
  font-weight: bold;
  font-family: 'Roboto';
  color:rgb(99, 0, 0, 1);
  align-self: center;
  margin-bottom: 2rem;
}

.users-cards{
flex-wrap: wrap;
justify-content: space-evenly;
}

.user-card{
  background-color: #F5EDDC;
  margin-bottom: 2rem;
}

.user-info{
  padding:0 1rem;
}

.info{
  margin-top: 1rem;
  font-weight: bold;
  font-family: 'Roboto';
  color:rgb(99, 0, 0, 1);
}

.data{
  margin-left: 1rem;
}

.actions{
  padding:1rem;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.end{
  flex-basis: 60%;
  justify-content: flex-end;
}
.more-info{
  cursor: pointer;
  font-size: 13px;
  text-decoration: underline;
  font-family: 'Roboto';
  color:rgb(99, 0, 0, 1);
}

.chat-icon{
  color:rgb(99, 0, 0, 1);
  font-size: 20px;
  cursor: pointer;
}

.fav-icon{
  cursor: pointer;
  }
/* Users Section End */

/* Users more info Section Styling Start */
.users-more-info{
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.user-more{
  background-color: #F5EDDC;
  width: 500px;
}

.block-user{
  padding: 1rem;
  width:100%;
  justify-content: flex-end;
}

.btn-block{
  padding: 0.5rem 1rem;
}
.user-profile{
  position: relative;
}
.close-moreinfo{
  position: absolute;
  z-index: 1;
  right:1rem;
  top: 1rem;
  cursor: pointer;
}
/* Users more info Section Styling End */

/* Profile Section Styling Start */
.profile-section{
  padding: 0 20rem;
}

.profile-pic{
  height: 400px;
  position: relative;
}

.blur{
  opacity: 70%;
  max-width: 300px;
}

.profile-btns{
  width: 100%;
  margin-top: 1rem;
  padding: 0 2rem;
  justify-content: flex-end;
}

.btn-profile{
  padding: 0.5rem 0;
  width: 100px;
  margin-right: 1rem;
}

.edit-pic{
  width:80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid rgb(99, 0, 0, 1);
  position: absolute;
  bottom: -2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 100;
}

.change-img{
  color: rgb(99, 0, 0, 1);
  cursor: pointer;
}
/* Profile Section Styling End */

/* Edit Profile Section Styling Start */

.edit-profile-sec{
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.edit-profile-container{
  background-color: #F5EDDC;
  width: 500px;
  padding-bottom: 1rem;
}

.profile-image{
  height: 200px;
  position: relative;
}

.close-edit{
  position: absolute;
  top:1rem;
  right:1rem;
  cursor: pointer;
}

.changed-inputs{
  padding: 2rem;
}

.select{
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 4px #000000;
  color: rgb(99, 0, 0, 1);
  padding: 0.5rem;
  width: 150px;
}
.label{
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  color: rgb(99, 0, 0, 1);
  margin-bottom: 1rem;
}

.form-input{
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 15px;
  box-shadow: 0 0 4px #000000;
  border: none;
  color:rgb(99, 0, 0, 1);
  outline: none;
}

.button{
  margin-top: 1rem;
  width: 100%;
  justify-content: flex-end;
}
.btn-save{
  padding: 0.5rem 1rem;
}
/* Edit Profile Section Styling End */


/* media queries */
@media only screen and (max-width:700px){

  .user-card{
    width: 90%;
  }
  .nav-items{
    flex-basis: 60%;
    justify-content: space-between;
  }

}

@media only screen and (max-width:1000px){

.nav-items{
  flex-basis: 50%;
  justify-content: space-between;
}

}
